<script>
  import Nav from "../components/Nav.svelte";

  export let segment;
</script>

<style>
  main {
    display: grid;
    grid-template-columns: auto 1fr;
  }
</style>

<main class="main">
  <Nav {segment} />
  <section class="main__content">
    <slot />
  </section>
</main>
