<script context="module">
  import io from "socket.io-client";
  import Address from "./components/address";
  import SenProvision from "./components/sen/provision";
  import SenNeeds from "./components/sen/needs";
  import FsmReview from "./components/fsm/review";
  import FsmEntries from "./components/fsm/entries";
  import Contacts from "./components/contacts";
  import { eventStore } from "../../_util/stores";
  import { updatePupil } from "../_util/dispatch";
  import { ethnicityCodes } from "../_util";
  export async function preload(page, session) {
    const { upn } = page.params;
    let pupilRes,
      contactsRes,
      senNeedsRes,
      fsmEntriesRes,
      pupil,
      contacts,
      senNeeds,
      fsmEntries;
    try {
      [pupilRes, contactsRes, senNeedsRes, fsmEntriesRes] = await Promise.all([
        this.fetch(`api/pupils/${upn}`),
        this.fetch(`api/pupils/${upn}/contacts`),
        this.fetch(`api/pupils/${upn}/sen/needs`),
        this.fetch(`api/pupils/${upn}/fsm/entries`)
      ]);
    } catch (err) {
      console.log(err);
    }

    pupil = await pupilRes.json();
    contacts = await contactsRes.json();
    senNeeds = await senNeedsRes.json();
    fsmEntries = await fsmEntriesRes.json();
    return {
      pupil,
      contacts,
      senNeeds,
      fsmEntries
    };
  }
</script>

<script>
  export let pupil;
  export let contacts;
  export let senNeeds;
  export let fsmEntries;

  const socket = io();
  socket.on("event-response", event => {
    eventStore.addReceived(event);
  });

  function updatePupilRecord(pupil, { name: key, value, type, checked }) {
    if (type === "checkbox") {
      value = checked;
    }
    const updatedPupil = {
      ...pupil,
      [key]: value
    };
    updatePupil(updatedPupil, updatedPupil.ID);
    pupil = updatedPupil;
  }

  function updateAddress(pupil, { name: key, value }) {
    updatePupilRecord(pupil, {
      name: "address",
      value: {
        ...pupil.address,
        [key]: value
      }
    });
  }
</script>

<style>

</style>

<svelte:head>
  <title>
    {`${pupil.firstName} ${pupil.lastName} - ${pupil.ID} - School IMS Demo`}
  </title>
</svelte:head>

<main class="pupil-details">
  <fieldset>
    <legend>Basic Details</legend>
    <label>
      UPN
      <input disabled type="text" value={pupil.ID} />
    </label>
    <fieldset>
      <legend>First Name</legend>
      <label>
        Actual
        <input
          name="firstName"
          type="text"
          value={pupil.firstName || ''}
          on:blur={e => updatePupilRecord(pupil, e.target)} />
      </label>
      <label>
        Preferred
        <input
          name="preferredFirstName"
          type="text"
          value={pupil.preferredFirstName || ''}
          on:blur={e => updatePupilRecord(pupil, e.target)} />
      </label>
    </fieldset>
    <fieldset>
      <legend>Last Name</legend>
      <label>
        Actual
        <input
          name="lastName"
          type="text"
          value={pupil.lastName || ''}
          on:blur={e => updatePupilRecord(pupil, e.target)} />
      </label>
      <label>
        Preferred
        <input
          name="preferredLastName"
          type="text"
          value={pupil.preferredLastName || ''}
          on:blur={e => updatePupilRecord(pupil, e.target)} />
      </label>
    </fieldset>
    <fieldset>
      <label>
        Date of Birth
        <input
          name="dateOfBirth"
          type="date"
          value={pupil.dateOfBirth}
          on:blur={e => updatePupilRecord(pupil, e.target)} />
      </label>
      <label>
        Year
        <select
          name="year"
          value={pupil.year || 'none'}
          on:blur={e => updatePupilRecord(pupil, e.target)}>
          <option value="none" disabled>-- Select Year --</option>
          <option value="EY">Early Years</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </label>
      <label>
        Medical Flag
        <input
          name="medicalFlag"
          type="checkbox"
          value={pupil.medicalFlag}
          checked={pupil.medicalFlag}
          on:change={e => updatePupilRecord(pupil, e.target)} />
      </label>
      <label>
        Enrol Status
        <select
          name="enrolStatus"
          value={pupil.enrolStatus || 'none'}
          on:blur={e => updatePupilRecord(pupil, e.target)}>
          <option value="none" disabled>-- Select Enrol Status--</option>
          <option value="C">Current</option>
          <option value="M">Main</option>
          <option value="S">Subsidiary</option>
          <option value="F">FE College</option>
          <option value="G">Guest</option>
          <option value="P">Previous</option>
          <option value="O">Other</option>
        </select>
      </label>
      <label>
        Service Child
        <select
          name="serviceChild"
          value={pupil.serviceChild || 'none'}
          on:blur={e => updatePupilRecord(pupil, e.target)}>
          <option value="none" disabled>-- Select Service Child Code--</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
          <option value="U">Unknown</option>
          <option value="R">Refused</option>
        </select>
      </label>
    </fieldset>
  </fieldset>
  <fieldset>
    <legend>Ethnicity</legend>
    <label>
      Code
      <select
        name="ethnicity"
        value={pupil.ethnicity || 'none'}
        on:blur={e => updatePupilRecord(pupil, e.target)}>
        <option value="none" disabled>-- Select Ethnicity Code--</option>
        {#each Object.keys(ethnicityCodes) as ethCode}
          <option value={ethCode}>{ethnicityCodes[ethCode]}</option>
        {/each}
      </select>
    </label>
    <label>
      Source
      <select
        name="ethnicitySource"
        value={pupil.ethnicitySource || 'none'}
        on:blur={e => updatePupilRecord(pupil, e.target)}>
        <option value="none" disabled>-- Select Ethnicity Source--</option>
        <option value="C">Child</option>
        <option value="P">Parent</option>
      </select>
    </label>
  </fieldset>
  <section class="pupil-details__content">
    <Address
      address={pupil.address || {}}
      subject={pupil}
      handleUpdate={updateAddress} />
    <Contacts {contacts} upn={pupil.ID} />
    <div class="segement pupil__sen">
      <h2>Special Education Needs</h2>
      <SenProvision {pupil} handleUpdate={updatePupilRecord} />
      <SenNeeds {senNeeds} upn={pupil.ID} />
    </div>
    <div class="segment pupil__fsm">
      <h2>Free School Meals</h2>
      <FsmReview {pupil} handleUpdate={updatePupilRecord} />
      <FsmEntries {fsmEntries} upn={pupil.ID} />
    </div>
  </section>
</main>
