<script>
  export let address;
  export let subject;
  export let handleUpdate;
</script>

<style>
  .pupil__address {
    width: 350px;
  }
  .pupil__address fieldset {
    display: flex;
    flex-direction: column;
  }
  .pupil-address__input {
    margin: 0.25rem 0;
  }

  .address-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>

<div class="segment pupil__address">
  <fieldset class="pupil-address">
    <legend>Address</legend>
    <div class="address-input">
      <label>Line 1</label>
      <input
        class="pupil-address__input"
        name="Line1"
        type="text"
        placeholder={address.Line1 ? address.Line1 : 'Line 1'}
        value={address.Line1 || ''}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Line 2</label>
      <input
        class="pupil-address__input"
        name="Line2"
        type="text"
        placeholder={address.Line2 ? address.Line2 : 'Line 2'}
        value={address.Line2 || ''}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Line 3</label>
      <input
        class="pupil-address__input"
        name="Line3"
        type="text"
        placeholder={address.Line3 ? address.Line3 : 'Line 3'}
        value={address.Line3 || ''}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Line 4</label>
      <input
        class="pupil-address__input"
        name="Line4"
        type="text"
        placeholder={address.Line4 ? address.Line4 : 'Line 4'}
        value={address.Line4 || ''}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Line 5</label>
      <input
        class="pupil-address__input"
        name="Line5"
        type="text"
        placeholder={address.Line5 ? address.Line5 : 'Line 5'}
        value={address.Line5 || ''}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>County</label>
      <input
        class="pupil-address__input"
        name="County"
        type="text"
        value={address.County || ''}
        placeholder={address.County ? address.County : 'County'}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Country</label>
      <input
        class="pupil-address__input"
        name="Country"
        type="text"
        value={address.Country || ''}
        placeholder={address.Country ? address.Country : 'Country'}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
    <div class="address-input">
      <label>Postcode</label>
      <input
        class="pupil-address__input"
        name="PostCode"
        type="text"
        value={address.PostCode || ''}
        placeholder={address.PostCode ? address.PostCode : 'Postcode'}
        on:blur={e => handleUpdate(subject, e.target)} />
    </div>
  </fieldset>
</div>
