<script>
  import { nanoid } from "nanoid";
  import {
    relationshipCodes,
    mapRelationshipCode,
    phoneCodes,
    mapPhoneCode
  } from "../../_util";
  import Address from "./address";
  import {
    createContact,
    updateContact,
    deleteContact
  } from "../../_util/dispatch";

  export let contacts;
  export let upn;

  function createContactEntry() {
    const newContact = {
      ID: nanoid(),
      subjectID: upn,
      title: "",
      firstName: "",
      middleNames: "",
      lastName: "",
      gender: "none",
      rank: "0",
      relationship: "none",
      responsibility: false,
      email: "",
      address: {
        sharedWithPupil: false
      }
    };
    createContact(newContact, upn);
    contacts = [...contacts, newContact];
  }

  function updateContactEntry(contact, { name: key, value, type, checked }) {
    if (type === "checkbox") {
      value = checked;
    }
    const updatedContact = {
      ...contact,
      [key]: value
    };
    updateContact(updatedContact, upn);
    contacts = contacts.map(contact => {
      if (contact.ID === updatedContact.ID) {
        return updatedContact;
      }
      return contact;
    });
  }

  function updateAddress(contact, { name: key, value, type, checked }) {
    if (type === "checkbox") {
      value = checked;
    }
    console.log(key, value);
    updateContactEntry(contact, {
      name: "address",
      value: {
        ...contact.address,
        [key]: value
      }
    });
  }

  function addPhone(contact) {
    const newPhone = {
      type: "none",
      number: ""
    };
    if (contact.phones) {
      contact.phones = [...contact.phones, newPhone];
    } else {
      contact.phones = [newPhone];
    }
    updateContactEntry(contact, { name: "phones", value: contact.phones });
  }

  function updatePhone(contact, { name: key, value }, index) {
    const updatedPhone = {
      ...contact.phones[index],
      [key]: value
    };
    contact.phones[index] = updatedPhone;
    updateContactEntry(contact, {
      name: "phones",
      value: contact.phones
    });
  }

  function deletePhone(contact, delPhone) {
    const updatedPhones = contact.phones.filter(phone => {
      return phone.number !== delPhone.number;
    });
    updateContactEntry(contact, { name: "phones", value: updatedPhones });
  }

  function deleteContactEntry(delContact) {
    deleteContact(delContact, upn);
    contacts = contacts.filter(contact => {
      return delContact.ID !== contact.ID;
    });
  }
</script>

<style>
  .pupil-contacts {
    display: grid;
    grid-template-columns: auto 1fr;
  }
</style>

<div class="segment pupil__contacts">
  <h2>Contacts</h2>
  <div class="pupil-contacts">
    <div class="contacts__list">
      <button on:click={e => createContactEntry()}>Add Contact</button>
      {#each contacts as contact (contact.ID)}
        <div class="contacts__details">
          <fieldset>
            <legend>Contact Information</legend>
            <label>
              Title
              <input
                type="text"
                name="title"
                placeholder={contact.title || 'Title'}
                value={contact.title}
                on:blur={e => updateContactEntry(contact, e.target)} />
            </label>
            <label>
              Forename
              <input
                type="text"
                name="firstName"
                placeholder={contact.firstName || 'Forename'}
                value={contact.firstName}
                on:blur={e => updateContactEntry(contact, e.target)} />
            </label>
            <label>
              Middle Names
              <input
                type="text"
                name="middleNames"
                value={contact.middleNames}
                placeholder={contact.middleNames || 'Middle Names'}
                on:blur={e => updateContactEntry(contact, e.target)} />
            </label>
            <label>
              Surname
              <input
                type="text"
                name="lastName"
                placeholder={contact.lastName || 'Surname'}
                value={contact.lastName}
                on:blur={e => updateContactEntry(contact, e.target)} />
            </label>
            <label>
              Parent/Carer
              <input
                type="checkbox"
                name="responsibility"
                checked={contact.responsibility || false}
                on:change={e => updateContactEntry(contact, e.target)} />
            </label>
            <label>
              Relationship
              <select
                name="relationship"
                value={contact.relationship || 'none'}
                on:blur={e => updateContactEntry(contact, e.target)}>
                <option value="none" disabled>--Select Relationship--</option>
                {#each relationshipCodes as relCode}
                  <option value={relCode.code}>
                    {mapRelationshipCode(relCode.code)}
                  </option>
                {/each}
              </select>
            </label>
            <label>
              Order
              <input
                type="number"
                name="rank"
                value={contact.rank}
                placeholder={contact.rank || 1}
                on:change={e => updateContactEntry(contact, e.target)} />
            </label>

            <label>
              Gender
              <select
                name="gender"
                value={contact.gender}
                on:blur={e => updateContactEntry(contact, e.target)}>
                <option value="none" disabled>-- Select Gender--</option>
                <option value="M">Male - (M)</option>
                <option value="F">Female - (F)</option>
              </select>
            </label>
            <label>
              E-mail
              <input
                type="email"
                name="email"
                value={contact.email}
                placeholder={contact.email || 'E-mail'}
                on:blur={e => updateContactEntry(contact, e.target)} />
            </label>
            <fieldset>
              <legend>Phones</legend>
              {#if contact.phones}
                {#each contact.phones as phone, index}
                  <div>
                    <label>
                      Type
                      <select
                        name="type"
                        value={phone.type || 'none'}
                        on:blur={e => updatePhone(contact, e.target, index)}>
                        <option value="none">-- Select Phone Type--</option>
                        {#each phoneCodes as phoCode}
                          <option value={phoCode.code}>
                            {mapPhoneCode(phoCode.code)}
                          </option>
                        {/each}
                      </select>
                    </label>
                    <label>
                      Number
                      <input
                        name="number"
                        type="tel"
                        value={phone.number}
                        on:blur={e => updatePhone(contact, e.target, index)} />
                    </label>
                    <button on:click={e => deletePhone(contact, phone)}>
                      X
                    </button>
                  </div>
                {/each}
              {/if}
              <button on:click={e => addPhone(contact)}>Add Phone</button>
            </fieldset>
            <fieldset>
              <legend>Address Details</legend>
              <label>
                Shared With Pupil
                <input
                  type="checkbox"
                  name="sharedWithPupil"
                  value={contact.address.sharedWithPupil}
                  checked={contact.address.sharedWithPupil}
                  on:change={e => updateAddress(contact, e.target)} />
              </label>
              {#if !contact.address.sharedWithPupil}
                <Address
                  address={contact.address}
                  subject={contact}
                  handleUpdate={updateAddress} />
              {/if}
            </fieldset>
            <button on:click={e => deleteContactEntry(contact)}>
              Delete Contact
            </button>
          </fieldset>
        </div>
      {/each}
    </div>
  </div>
</div>
