<script>
  import { nanoid } from "nanoid";
  import {
    createFsmEntry,
    updateFsmEntry,
    deleteFsmEntry
  } from "../../../_util/dispatch";
  export let fsmEntries;
  export let upn;

  function createNewEntry() {
    const newEntry = {
      ID: nanoid(),
      UPN: upn,
      startDate: "",
      endDate: "",
      country: "none"
    };
    createFsmEntry(newEntry, upn);
    fsmEntries = [...fsmEntries, newEntry];
  }

  function updateEntry(entry, { name: key, value }) {
    const updatedEntry = {
      ...entry,
      [key]: value
    };

    updateFsmEntry(updatedEntry, upn);
    fsmEntries = fsmEntries.map(entry => {
      if (entry.ID === updatedEntry.ID) {
        return updatedEntry;
      }
      return entry;
    });
  }

  function deleteEntry(delEntry) {
    deleteFsmEntry(delEntry, upn);
    fsmEntries = fsmEntries.filter(entry => {
      return entry.ID !== delEntry.ID;
    });
  }
</script>

<style>

</style>

<div class="fsm__history">
  <fieldset>
    <legend>Entries</legend>
    {#each fsmEntries as entry}
      <label>
        Start Date:
        <input
          name="startDate"
          value={entry.startDate}
          type="date"
          on:blur={e => {
            updateEntry(entry, e.target);
          }} />
      </label>
      <label>
        End Date:
        <input
          name="endDate"
          value={entry.endDate}
          type="date"
          on:blur={e => {
            updateEntry(entry, e.target);
          }} />
      </label>
      <label>
        UK Country:
        <select
          name="country"
          value={entry.country}
          on:blur={e => updateEntry(entry, e.target)}>
          <option value="none" disabled>-- Select UK Country --</option>
          <option value="ENG">England - (ENG)</option>
          <option value="NIR">Northern Ireland - (NIR)</option>
          <option value="SCT">Scotland - (SCT)</option>
          <option value="WLS">Wales/Cymru - (WLS)</option>
        </select>
      </label>
      <button on:click={e => deleteEntry(entry)}>X</button>
    {/each}
    <button on:click={e => createNewEntry()}>Add FSM Entry</button>
  </fieldset>
</div>
