<script>
  export let pupil;
  export let handleUpdate;
</script>

<style>

</style>

<div class="fsm__review">
  <fieldset>
    <legend>Last Review</legend>
    <label>
      Date:
      <input
        name="fsmReviewDate"
        value={pupil.fsmReviewDate}
        type="date"
        on:blur={e => handleUpdate(pupil, e.target)} />
      <label />
    </label>
  </fieldset>
</div>
