<script>
  import { eventStore } from "../_util/stores";
</script>

<style>
  .grey {
    background: rgba(0, 0, 0, 0.3);
  }
</style>

<div class="segment event-log">
  <h1>Event Log</h1>
  <div>
    <h2>Sent</h2>
    {#each $eventStore.sent as event, i}
      <div class:grey={i % 2 === 0}>
        <h4>{event.EventId}</h4>
        <pre>{JSON.stringify(event)}</pre>
        <hr />
      </div>
    {/each}
  </div>
  <div>
    <h2>Received</h2>
    {#each $eventStore.received as event, i}
      <div class:grey={i % 2 === 0}>
        <h4>{event.EventId} - {event.Duration}ms</h4>
        <pre>{JSON.stringify(event)}</pre>
        <hr />
      </div>
    {/each}
  </div>
</div>
