<script context="module">
  import { eventStore } from "../_util/stores";
  export async function preload(page, session) {
    const res = await this.fetch("api/pupils");
    const pupils = await res.json();
    return { pupils };
  }
</script>

<script>
  export let pupils;
  export let segment;
  let loading = false;
</script>

<style>
  .active {
    background-color: #fff;
    color: #202020;
  }

  .pupils__nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #e8e8e8;
  }

  .pupils-nav__item {
    padding: 1rem;
  }

  .pupils__details {
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
  }

  .content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
</style>

<div class="content pupils">
  <nav class="pupils__nav">
    {#each pupils as pupil (pupil.ID)}
      <a
        class:active={segment === `${pupil.ID}`}
        class="pupils-nav__item"
        rel="prefetch"
        href={`pupils/${pupil.ID}`}>
        <span>{pupil.firstName} {pupil.lastName}</span>
      </a>
    {/each}
  </nav>
  <div class="pupils__details">
    <slot />
  </div>
</div>
