<script>
  import { nanoid } from "nanoid";
  import {
    createSenNeed,
    updateSenNeed,
    deleteSenNeed
  } from "../../../_util/dispatch";
  export let senNeeds;
  export let upn;

  function createNewNeed() {
    const newNeed = {
      ID: nanoid(),
      UPN: upn,
      type: "none",
      rank: 0,
      startDate: "",
      endDate: ""
    };
    createSenNeed(newNeed, upn);
    senNeeds = [...senNeeds, newNeed];
  }

  function updateNeed(need, { name: key, value }) {
    const updatedNeed = {
      ...need,
      [key]: value
    };

    updateSenNeed(updatedNeed, upn);
    senNeeds = senNeeds.map(need => {
      if (need.ID === updatedNeed.ID) {
        return updatedNeed;
      }
      return need;
    });
  }
  function deleteNeed(delNeed) {
    deleteSenNeed(delNeed, upn);
    senNeeds = senNeeds.filter(need => {
      return need.ID !== delNeed.ID;
    });
  }
</script>

<style>

</style>

<div class="sen_needs">
  <fieldset>
    <legend>Needs</legend>
    {#if senNeeds}
      {#each senNeeds as senNeed (senNeed.ID)}
        <div class={`sen-need`}>
          <select
            class="sen-need__select"
            name="type"
            value={senNeed.type || 'none'}
            on:blur={e => {
              updateNeed(senNeed, e.target);
            }}>
            <option value="none" disabled>-- Select SEN Need Type --</option>
            <option value="SPLD">Specific Learning Difficulty - (SPLD)</option>
            <option value="MLD">Moderate Learning Difficult - (MLD)</option>
            <option value="SLD">Severe Learning Difficulty - (SLD)</option>
            <option value="PMLD">
              Profound &amp; Multiple Learning Difficulty - (PMLD)
            </option>
            <option value="SEMH">
              Social, Emotional and Mental Health - (SEMH)
            </option>
            <option value="SLCN">
              Speech, Language and Communication Needs - (SLCN)
            </option>
            <option value="HI">Hearing Impairment - (HI)</option>
            <option value="VI">Vision Impairment - (VI)</option>
            <option value="MSI">Multi-Sensory Impairment - (MSI)</option>
            <option value="PD">Physical Disability - (PD)</option>
            <option value="ASD">Autistic Spectrum Disorder - (ASD)</option>
            <option value="OTH">Other Difficulty/Disability - (OTH)</option>
            <option value="NSA">
              No Specialist Assessment of Need - (NSA)
            </option>
          </select>
          <label>
            Need Start Date:
            <input
              name="startDate"
              type="date"
              value={senNeed.startDate || ''}
              on:blur={e => {
                updateNeed(senNeed, e.target);
              }} />
          </label>
          <label>
            Need End Date:
            <input
              name="endDate"
              type="date"
              bind:value={senNeed.endDate}
              on:blur={e => {
                updateNeed(senNeed, e.target);
              }} />
          </label>
          <label>
            Need Rank:
            <input
              name="rank"
              type="number"
              value={senNeed.rank}
              on:change={e => {
                updateNeed(senNeed, e.target);
              }} />
          </label>
          <button on:click={e => deleteNeed(senNeed)}>X</button>
        </div>
      {/each}
    {/if}
    <button on:click={e => createNewNeed()}>Add SEN Need</button>
  </fieldset>
</div>
