<script>
  export let pupil;
  export let handleUpdate;
</script>

<style>

</style>

<div class="sen__provision">
  <fieldset>
    <legend>Provision</legend>
    <select
      name="senProvision"
      value={pupil.senProvision || 'none'}
      on:blur={e => handleUpdate(pupil, e.target)}>
      <option value="none" disabled>-- Select SEN Provision --</option>
      <option value="E">Education, Health and Care Plan - (E)</option>
      <option value="K">SEN Needs - (K)</option>
      <option value="N">No SEN Needs - (N)</option>
    </select>
    <label>
      Last Review:
      <input
        name="senStartDate"
        type="date"
        value={pupil.senStartDate || ''}
        on:blur={e => handleUpdate(pupil, e.target)} />
    </label>
    <label>
      Next Review:
      <input
        name="senEndDate"
        type="date"
        value={pupil.senEndDate || ''}
        on:blur={e => handleUpdate(pupil, e.target)} />
    </label>
  </fieldset>
</div>
