<script>
  export let segment;
</script>

<style>
  nav {
    width: 200px;
  }
</style>

<nav class="main__nav">
  <ul>
    <li>
      <a
        rel="prefetch"
        aria-current={segment === 'pupils' ? 'page' : undefined}
        href="pupils">
        pupils
      </a>
    </li>
    <li>
      <a
        aria-current={segment === 'event-log' ? 'page' : undefined}
        href="event-log">
        event log
      </a>
    </li>
  </ul>
</nav>
